
<%= form_with scope: :customer_form ,url: customer_form_index_path,local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 <p>
    <%= form.label :date_0f_birth %><br>
    <%= form.date_field :DOB %>
  </p>
   <p>
    <%= form.label :Photo %><br>
    <%= form.file_field :Photo %>
  </p>
  <p>
    <%= form.label :Address %><br>
    <%= form.text_area :Address %>
  </p>
  <p>
    <%= form.label :Phone_no %><br>
    <%= form.number_field :Phone_no %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>